.MuiTableHead-root .MuiTableCell-root , .MuiTableCell-head{
    color:white;
}


.MuiTableBody-root .MuiTableCell-body{
    color: white;
    background-color: rgb(33, 40, 48);
    border: none;
}

textarea:not(.qun-textarea){
    height: 250px;
}

.text-right{
    margin: 10px 50px;
}
