body {
	margin : 0;
	padding : 0;
    background : center center fixed no-repeat;
    color: white;
}
video {
	position : fixed;
	top : 0; 
	left : 0;
	min-width : 100%;
	min-height : 100%;
	width : auto;
	height : auto;
	z-index : -1;
}
a {
    color: white;
}
a:hover{
    text-decoration: none;
    color: white;
}
.login{
    font-family: 'Roboto ', sans-serif;
}
.row-register{
    margin-top:0%;
}